.remove-a-styles {
    text-decoration: none;
    color: #212121;
}

.remove-a-styles:hover {
    text-decoration: none;
    color: #575757;
}

body {
    font-family: 'Pragati+Narrow', sans-serif;
}

#news-wdgt-adj {
    max-width: 800px  !important;
    width:100%;
    margin: auto  !important;
}

#chart-wdgt-adj {
    
    min-width: 600px  !important;
    margin: auto  !important;
}

/*---------------------- NAV BAR -------*/


.navbar-bar {
    background-color: #C8C9C7;
    height: 50px;
}


.inline-block {
    display:inline-block;
}

.vert-align-home-head {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 50%;
    width: 80%;
    margin: 0% 0 0% 0%;
}

.logo-margins {
    margin: 0 0 0 0;
}

.logo-text {
    font-family:'Oswald', sans-serif;
    font-weight: 400;
    font-size: 7vw;
    margin: 0 0 0 0;
}

.dropdown {
    font-size: 26pt;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #F8F9FF;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 5px;
    z-index: 1;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2.5% 10%;
}

.menu-items {
    font-size: 6vw;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*------------------------------- HEADER -------*/


.home-header-color {
    background-color: #d9d9d9;
 
}

.home-header-align {
    height: 150px;
    text-align: center;
    position: relative;
}

.vert-align {
    vertical-align: middle;
}

.logo-align {
    vertical-align: middle;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right:auto;
}

.btcwdgt {
    max-width: 1000px  !important;
    width:100%;
}

/*---------------------- HOME PAGE BODY LINKS -------*/

.mid-screen-vis {
    display: none;
}

.home-links{
    text-align:center;
    padding: 15px 0 15px 0;
}

.link-header{
    text-align:center;
    padding-top: 15px;
}

.color-transition {
    transition: background-color 0.5s ease;
}

.btc101-color {
    background-color: #ffff4c;
}

.btc101-color:hover {
    background-color: #EBDA41;
}

.blockchain-color {
    background-color: #7ec0ee;
}

.blockchain-color:hover {
    background-color: #49a9ee;
}

.crypto-color {
    background-color: #4ec318;
}

.crypto-color:hover {
    background-color: #42ac11;
}

.decent-color {
    background-color: #ff3232;
}

.decent-color:hover {
    background-color: #ef1f1f;
}

.home-img1 {
   background-image: url("../images/img1.jpg");

}

.links-icon{
    font-size: 30pt;
}


.links-icon2{
    font-size: 60pt;
}


.home-link {
    background-color: #FFE5B4;
}

/*---------------------------- FOOTER --------------*/

.footer-bg-color {
    background-color: #b8b8b8;
}

.footer-link {
    display: inline-block;
    text-align: center;
    padding-top: .5em;
    flex-basis: auto;
}

.footer-socialmedia-icons {
    float: left;
    font-size: 30pt;
}

.em-padding {
    padding:.5em .1em .5em 0em;
}

.no-hover:hover {
    transition: 0;
}


/*---------------------------PAGES --------------------*/

.homepage-link-color {
    background-color: #F1ECE9;
}

.full-width {
    width:100%;
}

.half-width {
    width: 50%;
}



/*---------------------------- RESPONSIVE YOUTUBE --------------*/

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/*---------------------------- MEDIA QUERIES --------------*/

@media only screen and (min-width: 576px) {
    body {
        background-color: lightblue;
    }
    

    .home-links {
        width: 50%;
    }
    
    .small-screen-vis {
        display: none;
    }
    
    .mid-screen-vis {
    display: block;
    }
    
    .logo-text {
    font-size: 6vw;
    margin: 0 0 0 0;
    }
    
    .med-font-size {
        font-size: 1.5em;
    }
    
    .navbar-bar {
    height: 70px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: pink;
    }
    
    .navbar-bar{
        height: 80px;
    }
    
    .dropdown-content {
        min-width: 220px;
    }
    
    .menu-items {
    font-size: 3vw;
    }
    
    .vert-align-home-head {
        position: relative;
        top: 20%;
        left: 10%;
        height: 50%;
        width: 80%;
        margin: 0% 0 0% 0%;
    }
    
    .page-header-text-size {
        font-size: 4rem;
    }
    
    .page-links-text-size {
        font-size: 3rem;
    }
    
    .page-links-text-size2 {
        font-size: 2.5rem;
    }
    
    .header-text {
        font:3rem;
    }

    
    .text-font-size {
        font-size: 1.5rem;
    }
    
    .mid-screen-vis {
    display: block;
    }
    
    .whitepaperimg-styles {
    min-width: 20%;
    min-height: 20%;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: black;
    }
    
    .menu-items {
    font-size: 3.5vw;
    }
    
}

@media only screen and (min-width: 1200px) {
    body {
        background-color: purple;
    }
}